<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>My Profile || Aquamarine</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="shortcut icon" href="images/logo.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="gettext" type="application/x-po" href="languages/en/LC_MESSAGES/en.po" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Oregano&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oregano&display=swap"
        rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="assets/js/geodatasource-cr.min.js"></script>
    <script type="text/javascript" src="assets/js/Gettext.js"></script>    
    
    <style>
        body {
            background-color: rgb(207, 207, 207);
            background: url(../images/background2.png);
            min-height: 100vh;
            width: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
        }

        .overlay {
            width: 100%;
            height: 100%;
            background: black;
            opacity: .2;
            position: absolute;
        }

        .logo {
            margin-left: 60px;
            padding: 50px;
            position: relative;
            width: 120px;
            height: 120px;
            background: url(../images/logo.png);
            background-repeat: no-repeat;
            background-size: 130px;
            background-position: center;
            cursor: pointer;
            z-index: 1000;
        }

        .title {
            font-family: 'Open Sans', sans-serif;
            justify-content: center;
            position: relative;
            text-align: center;
        }

        .profile {
            text-align: center;
            margin-bottom: 1%;
        }

        .isian {
            width: 50%;
            margin-left: 20%;
        }

        .myprofile {
            display: flex;
            margin: 0 0 0 25%;
            width: 70%;
        }

        .myprofile p {
            width: 100%;
            display: inline-block;
            text-align: left;
        }

        .text {
            width: 60%;
        }

        .prof1 {
            margin-right: 5%;
        }

        .submitmy {
            display: flex;
            justify-content: center;
            z-index: 1000;
            cursor: pointer;
        }

        .submitmy .edit {
            /*width: 35%;*/
            cursor: pointer;
            z-index: 1000;
            margin-left: 1%;
        }

        .submitmy .orderhistory {
            cursor: pointer;
            z-index: 1000;
            margin-left: 20%;
        }

        .submitmy .logout {
            cursor: pointer;
            z-index: 1000;
            margin-left: 20%;
        }

        @media screen and (max-width: 580px) {
            .isian {
                margin: 5% 10% 2% -10%;
                width: 100%;
            }

            .submitmy {
                width: 90%;
            }

            .submitmy .orderhistory {
                margin-left: 15%;
            }

            .btn {
                margin-left: 20%;
                width: 120%;
            }
        }

        @media screen and (min-width: 640px) and (max-width: 770px) {
            .text {
                align-items: center;
                margin: 0 -45px;
                padding: 0 150px 0 0;
            }

            .isian {
                width: 80%;
                margin: 0% 0% 0% -5%;
            }

            .input-group {
                align-items: center;
                margin: 0 -70% 0 0;
            }
        }
    </style>
</head>

<body>
    <div class="overlay"></div>

    <a href="/">
        <div class="logo"></div>
    </a>

    <div class="title">
        <h1><b>My Profile</b></h1>
    </div>

    <div class="profile">
        <i data-feather="user" style="width: 65px; height: 65px;"></i>
    </div>

    <div class="isian">
        <div class="myprofile">
            <div class="text">
                <p>Name</p>
            </div>
            <div class="input-group mb-3">
                <input type="type" selected disabled style="background-color: white;" class="form-control"
                    placeholder="Fundroo Orlando">
            </div>
        </div>

        <div class="myprofile">
            <div class="text">
                <p>Date of Birth</p>
            </div>
            <div class="input-group mb-3">
                <input type="name" selected disabled style="background-color: white;" class="form-control"
                    placeholder="Month 00th, Year">
            </div>
        </div>

        <div class="myprofile">
            <div class="text">
                <p>Email</p>
            </div>
            <div class="input-group mb-3">
                <input type="email" selected disabled style="background-color: white;" class="form-control"
                    placeholder="fundroo@gmail.com">
            </div>
        </div>

        <div class="myprofile">
            <div class="text">
                <p>Phone Number</p>
            </div>
            <div class="input-group mb-3">
                <input type="phone" selected disabled style="background-color: white;" class="form-control"
                    placeholder="08123456789">
            </div>
        </div>

        <div class="myprofile">
            <div class="text">
                </p>Address</p>
            </div>
            <div class="input-group mb-3">
                <input type="address" selected disabled style="background-color: white;" class="form-control"
                    placeholder="Jalan Pintu Surga Duniawi Komplek Neraka No.44">
            </div>
        </div>
    </div>

    <div class="submitmy">
        <div class="edit">
            <button type="submit" class="btn btn-primary center-block"> <a href="/editmyprofile"
                    style="color: white; text-decoration: none;">Edit</a></button>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                </div>
            </div>
        </div>

        <div class="orderhistory">
            <button type="submit" class="btn btn-primary center-block"> <a href="/orderhistory"
                    style="color: white; text-decoration: none;">Order History</a></button>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12">
                </div>
            </div>
        </div>

        <div class="logout">
            <button type="submit" class="btn btn-primary center-block"> <a href="/user/logout" style="color: white; text-decoration: none;">Log out</a></button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        feather.replace()
    </script>
</body>
</html>
